<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ara's Pokemon Title</title>
    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>
    <h1>Ara's Pokemon Heading</h1>
    <%= yield %>
  </body>
</html>
